.cardsSection{
    display: grid;
    gap: 30px;
}

.blogCardsContainer{
    margin: 40px 0px;
}

.trendingBlogsWrapper{
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 10px 0px;
}

.trendingBlogContainer{
        margin-top: 40px;
}
